@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(6, 6, 111)
  }
.interface{
  display: flex;
  justify-content: space-between;
}
.pontos{
  font-family: "Pixelify Sans", sans-serif;
  font-size: 40px;
  background-color: chartreuse;
  border: 3px dashed black;
  border-radius: 10px;
}

.nome{
  background-color: chartreuse;
  font-family: "Pixelify Sans", sans-serif;
  border: 2px dashed black;
  border-radius: 10px;
}

.informar{
  display: flex;
  justify-content: space-between;
  font-family: "Pixelify Sans", sans-serif;
  color: white;
}